name: Build and deploy to container app

on:
  workflow_dispatch:

env:
  CONTAINER_APP_NAME: hellorazorcontainerapp
  AZURE_CONTAINER_REGISTRY: gclynch.azurecr.io
  CONTAINER_NAME: gclynch/hellorazorcontainerapp
  DOCKER_FILE_PATH: HelloRazorContainerApp/Dockerfile
  RESOURCE_GROUP: GCResourceGroup1

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "9.0.x"

    - name: Build
      run: dotnet build --configuration Release

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to ACR
      uses: docker/login-action@v3
      with:
        registry: ${{ env.AZURE_CONTAINER_REGISTRY }}
        username: ${{ secrets.AZURE_REGISTRY_USERNAME }}
        password: ${{ secrets.AZURE_REGISTRY_PASSWORD }}

    - name: Build and push container image to ACR
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{ env.AZURE_CONTAINER_REGISTRY }}/${{ env.CONTAINER_NAME }}:${{ github.sha }}
        file: ${{ env.DOCKER_FILE_PATH }}

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy to Azure Container Apps
      uses: azure/container-apps-deploy-action@v1
      with:
        imageToDeploy:  ${{ env.AZURE_CONTAINER_REGISTRY }}/${{ env.CONTAINER_NAME }}:${{ github.sha }}
        resourceGroup: ${{ env.RESOURCE_GROUP }}
        containerAppName: ${{ env.CONTAINER_APP_NAME }}
 
# use revisions for blue/green or canary releases